<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:theme="@style/Theme.Chatgpt_assist">

        <activity
            android:name=".setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".chat_room_list.ChatRoomListActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>